.navbar{
    position: sticky;
    height: 104px;
}
.navbar a{
    color: #fff;
    font-weight: 700;
}

.navbar a:hover{
    color: var(--mainColor);
    border-radius: 4px;
}
.navbar .navbarBrand{
    font-weight: 700;
    font-size: 1.75em;
}
@media screen and (max-width:610px){
    .navbar .navbarBrand{
    font-size: 1.5em;
}
}
.navbar  .navbarBrand:hover{
    color: #fff;
}
