.navbar{
    height: 104px;
   
}
.navbar a{
    color: #fff;
    font-weight: 700;
}

.navbar a:hover{
    color: var(--mainColor);
    border-radius: 4px;
}
.navbar .navbarBrand{
    font-weight: 700;
    font-size: 1.75em;
}
.navbar  .navbarBrand:hover{
    color: #fff;
}
