body{
  padding: 0;
 margin: 0;
 box-sizing: border-box;
}
:root {
 --mainColor: #6ad3bf;
 --subColor: #2c3e50;
 font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.mainColor{
  color: var(--mainColor);
}
.subColor{
  color: var(--subColor);
}
.mainColor-Bg{
  background-color: var(--mainColor);
}
.subColor-Bg{
  background-color: var(--subColor);
}
a {
  text-decoration: none;
}
h1 {
  font-size: 4em;
  line-height: 1.1;
}
h2{
    font-size: 3rem;
    line-height: 2.5rem;
    color: var(--subColor);
    font-weight: 700;
}


